
<section class="mt-5">
<div class="container">
  <div class="row text-center">
    <div class="col-md-6 mx-auto">
    
<h1 style="color:#3F2F3E; font-size:20pt; font-family: Verdana, Geneva, Tahoma, sans-serif;">Add New Book</h1>
 
<%= render 'form' %>

<%= link_to 'Back', dashboard_index_url, :class => 'btn btn-outline-dark mt-2' %>
</div>
</div>
</div>

</section>