<section class="mt-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6 mx-auto">
        <p style="color:#3F2F3E; font-size:16pt;">Category Name: <%= @category.name %></p>

      </div>
    </div>
  </div>
</section>