<section class="mt-5">
<div class="container">
  <div class="row text-center">
    <div class="col-md-6 mx-auto">


<h4 style="color:#3F2F3E; font-family: Verdana, Geneva, Tahoma, sans-serif;">Trade of books</h4>

<h5 style="color:#3F2F3E; font-family: Verdana, Geneva, Tahoma, sans-serif;"><%= "#{@user.username} shared the book named #{@book.title}" %></h5>
<%= form_with(model: [ @book, @book.trades.build ], local: true) do |form|  %>
  <div class="form-group m-3">
    <h5 style="color:#3F2F3E; font-family: Verdana, Geneva, Tahoma, sans-serif;">Please Select Book</h5>
    <%= form.select(:suggestion_book_id, @books.map{|book| [book.title, book.id]},{},{:class=>"form-control form-control-lg"})%>
  </div>
  <button type="submit" class="btn btn-outline-dark mt-3">Submit</button>
<% end %>

</div>
</div>
</div>
</section>